@model ProjectWeb.Domain.ViewModels.Account.ShowProfileViewModel
@{
    ViewData["Title"] = "حساب کاربری " + Model.UserName;
    Layout = "_Layout_Profile";
}

<div class="card custom-box-shadow">
    <div class="card-header">
        <p class="font-weight-bold mt-3 mr-1">اطلاعات حساب کاربری</p>
    </div>
    <div class="card-body">
        @if (ViewBag.Message != null)
        {
            <div class="alert alert-primary">
                @ViewBag.Message
            </div>
        }
        <div class="profile-font">
            <p>
                <i class="far fa-user ml-2"></i>
                <span class="font-weight-bold">نام کاربری :</span>
                @Model.UserName
            </p>

            <p>
                <i class="far fa-envelope-open ml-2"></i>
                <span class="font-weight-bold">ایمیل :</span>
                @Model.Email
            </p>

            <p>
                <i class='fas fa-phone ml-2'></i>
                <span class="font-weight-bold">شماره تماس :</span>
                @if (Model.PhoneNumber == null)
                {
                    <span>وارد نشده است</span>
                }
                else
                {
                    @Model.PhoneNumber
                }
            </p>

            @if (ViewBag.Warning != null)
            {
                <div class="alert alert-warning">
                    <i class="fas fa-exclamation-circle"></i>
                    @ViewBag.Warning
                </div>
            }
        </div>
    </div>
</div>
