@model ShowProfileViewModel
@{
    ViewData["Title"] = "ShowProfile";
    Layout = "~/Views/Shared/_Layout_Profile.cshtml";
}

<div class="card custom-box-shadow">
    <div class="card-header">
        <p class="font-weight-bold">اطلاعات حساب کاربری</p>
    </div>
    <div class="card-body">
        @if (ViewBag.Message != null)
        {
            <div class="alert alert-primary">
                @ViewBag.Message
            </div>
        }
        <div class="profile-font">
            <p>
                <i class="far fa-user ml-2"></i>
                نام کاربری : @Model.UserName
            </p>

            <p>
                <i class="far fa-envelope-open ml-2"></i>
                ایمیل : @Model.Email
            </p>

            <p>
                <i class='bx bx-phone ml-2'></i>
                شماره تماس :
                @if (Model.PhoneNumber == null)
                {
                    <span>وارد نشده است</span>
                }
                else
                {
                    @Model.PhoneNumber
                }
            </p>

            @if (ViewBag.Warning != null)
            {
                <div class="alert alert-warning">
                    <i class="fas fa-exclamation-circle"></i>
                    @ViewBag.Warning
                </div>
            }
        </div>
    </div>
</div>
