@model IEnumerable<ProjectWeb.Domain.Models.WebProduct>
@{
    ViewData["Title"] = "لیست محصولات وب";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
    int row = 1;
}
<div>
    <a asp-controller="WebProduct" asp-action="AddWebProduct" class="btn btn-custom-purple">
        افزودن محصول جدید
    </a>
    <hr />
    @{
        if (!Model.Any())
        {
            <div class="alert alert-danger">
                هیچ محصول وبی یافت نشد!
            </div>
        }
        else
        {
            <div style="overflow-x: auto;">
                <table class="table text-center">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>نام محصول</th>
                            <th>قیمت محصول</th>
                            <th>
                                <i class="fas fa-cog"></i>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var product in Model)
                        {
                            <tr>
                                <td>@row</td>
                                <td>@product.WebProductName</td>
                                <td>@product.WebProductPrice</td>
                                <td class="small">
                                    <a asp-controller="WebProduct" asp-action="DeleteProduct" asp-route-id="@product.WebProductID" class="text-hover">
                                        حذف محصول
                                    </a>
                                    /
                                    <a asp-controller="WebProduct" asp-action="EditProduct" asp-route-id="@product.WebProductID" class="text-hover">
                                        ویرایش محصول
                                    </a>
                                </td>
                            </tr>
                            row++;
                        }
                    </tbody>
                </table>
            </div>
        }
    }
</div>
