@model List<ProjectWeb.Domain.ViewModels.Ticket.MyTicketsViewModel>
@{
    ViewData["Title"] = "تیکت های من";
    Layout = "_UserPanelLayout";
    int row = 1;
}

@section BreadCrumb
{
    <a asp-action="EditInfo" asp-controller="Account" asp-area="UserPanel" class="text-hover">/ @ViewData["Title"]</a>
}

@{
    if (!Model.Any())
    {
        <div class="card custom-box-shadow mb-3">
            <div class="card-body">
                <div class="alert alert-danger">
                    <i class="fas fa-exclamation-triangle"></i>
                    شما هیچ تیکت ارسال شده ای ندارید
                </div>
            </div>
        </div>
    }

    else
    {
        <div class="row">
            @foreach (var ticket in Model)
            {
                <div class="col-12">
                    <div class="card custom-box-shadow mb-3 small">
                        <div class="card-body">
                            <span class="product-row custom-box-shadow">
                                @row
                            </span>
                            <div class="text-muted width-100">
                                <p>
                                    <span class="font-weight-bold">عنوان تیکت :</span>
                                    @ticket.TicketSubject
                                </p>
                                <hr />
                                <p>
                                    <span class="font-weight-bold">تاریخ ارسال :</span>
                                    @ticket.TicketDateTime - @ticket.TimeAgoTicketDate
                                </p>
                                <p class="font-weight-bold">
                                    متن تیکت :
                                </p>
                                <p>
                                    @Html.Raw(ticket.TicketContent)
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                row++;
            }
        </div>
    }
}