@model AddUserToRoleViewModel
@using Microsoft.AspNetCore.Identity
@using ProjectWeb.Domain.Models
@inject UserManager<UserApp> _userManager
@{
    ViewData["Title"] = "AddUserToRole";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<div data-aos="fade-down" data-aos-duration="1000">
    <div class="row d-flex justify-content-center align-items-center vh-100 m-1 m-md-0">
        <div class="col-12 col-lg-5">
            <div class="card custom-box-shadow">
                <div class="card-body p-3 p-md-5">
                    <div class="d-flex justify-content-between">
                        @{
                            var user = await _userManager.FindByIdAsync(Model.UserId);
                            <p>افزودن مقام به <span class="font-weight-bold">@user.UserName</span></p>
                        }
                        <a asp-controller="ManageUsers" asp-action="Index" class="text-hover mb-2" title="بازگشت به لیست کاربران">
                            <i class="fas fa-home"></i>
                        </a>
                    </div>

                    <hr />

                    @if (!Model.UserRoles.Any())
                    {
                        <div class="alert alert-danger small">
                            این کاربر از قبل مقام دارد. برای حذف مقام از این کاربر <a asp-controller="ManageUsers" asp-action="DeleteUserFromRole" asp-route-id="@Model.UserId" class="text-hover font-weight-bold">اینجا</a> بزنید.
                        </div>
                    }

                    <form method="post" asp-controller="ManageUsers" asp-action="AddUserToRole">
                        <!-- ModelState -->
                        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>

                        @for (int i = 0; i < Model.UserRoles.Count; i++)
                        {
                            <div class="form-group">
                                <input asp-for="@Model.UserRoles[i].IsSelected" />
                                <label>@Model.UserRoles[i].RoleName</label>
                            </div>

                            <input type="hidden" asp-for="@Model.UserRoles[i].RoleName" />
                        }

                        <input hidden asp-for="@Model.UserId" />

                        <button type="submit" class="btn btn-role">افزودن مقام به کاربر</button>
                    </form>

                    <hr />

                    <p class="text-center small">
                        <i class="fas fa-plus-circle"></i>
                        برای افزودن مقام جدید <a asp-controller="ManageRoles" asp-action="AddRole" class="font-weight-bold text-hover">اینجا</a> بزنید
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>
        $("header").hide();
        $("footer").hide();
    </script>
}