@model IEnumerable<ShowUsersViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
    int row = 1;
}

@{
    if (!Model.Any())
    {
        <div class="alert alert-danger">
            کاربری یافت نشد
        </div>
    }
    else
    {
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-12">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h3>
                                کاربر شماره @row
                            </h3>
                            <h4 class="font-weight-bold">نام کاربری :</h4>
                            <p class="text-muted">@item.UserName</p>

                            <h4 class="font-weight-bold">ایمیل کاربر :</h4>
                            <p class="text-muted">@item.UserEmail</p>
                            <hr />
                            <div class="mb-2">
                                <a asp-controller="ManageUsers" asp-action="EditUser" asp-route-id="@item.UserId" class="btn btn-outline-info btn-sm">
                                    ویرایش اطلاعات
                                </a> /
                                <a asp-controller="ManageUsers" asp-action="DeleteUser" asp-route-id="@item.UserId" class="btn btn-outline-danger btn-sm">
                                    حذف کاربر
                                </a> /
                                <a asp-controller="ManageUsers" asp-action="AddUserToRole" asp-route-id="@item.UserId" class="btn btn-outline-success btn-sm">
                                    افزودن مقام
                                </a> /
                                <a asp-controller="ManageUsers" asp-action="DeleteUserFromRole" asp-route-id="@item.UserId" class="btn btn-outline-warning btn-sm">
                                    حذف مقام
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                row++;
            }
        </div>
    }
}

