@model IEnumerable<ShowUsersViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
    int row = 1;
}

@{
    if (!Model.Any())
    {
        <div class="alert alert-danger">
            کاربری یافت نشد
        </div>
    }
    else
    {
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-12 col-md-6 col-lg-4 mt-2">
                    <div data-aos="flip-left" data-aos-duration="1000">
                        <div class="card custom-box-shadow small">
                            <div class="card-body">
                                <div class="text-center">
                                    <img src="~/imgs/male-user-100.png" alt="@item.UserName" data-toggle="tooltip" data-placement="top"
                                         title="@item.UserName" class="tool-tip" />
                                </div>
                                <hr />
                                <p>
                                    <i class="far fa-user ml-2"></i>
                                    نام کاربری :
                                    @item.UserName
                                </p>
                                <p>
                                    <i class="far fa-envelope ml-2"></i>
                                    ایمیل :
                                    @item.UserEmail
                                </p>
                                <a asp-controller="ManageUsers" asp-action="UserEditIndex" asp-route-id="@item.UserId" class="btn btn-user-settings mt-3">
                                    <i class="fas fa-cog ml-1"></i>
                                    تنظیمات کاربر
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            }
        </div>
    }
}

@section Scripts{
    <script>
        $('.tool-tip').tooltip();
    </script>
}