@model IEnumerable<ShowUsersViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

@{
    if (!Model.Any())
    {
        <div class="alert alert-danger">
            کاربری یافت نشد
        </div>
    }
    else
    {
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-12 col-md-6 col-lg-4 mt-2">
                    <div data-aos="flip-left" data-aos-duration="1000">
                        <div class="card custom-box-shadow small">
                            <div class="card-body">
                                <div class="text-left">
                                    <div class="dropdown">
                                        <i class="fas fa-ellipsis-v dropdown-toggle" data-toggle="dropdown" style="cursor: pointer; font-size: 15px;"></i>
                                        <div class="dropdown-menu dropdown-menu-right  dropdown-no-m">
                                            <a class="dropdown-item menu-text-hover" asp-controller="ManageUsers" asp-action="EditUser" asp-route-id="@item.UserId">
                                                <i class="fas fa-circle small-dot"></i>
                                                ویرایش اطلاعات
                                            </a>
                                            <a class="dropdown-item menu-text-hover" asp-controller="ManageUsers" asp-action="DeleteUser" asp-route-id="@item.UserId">
                                                <i class="fas fa-circle small-dot"></i>
                                                حذف کاربر
                                            </a>
                                            <a class="dropdown-item menu-text-hover" asp-controller="ManageUsers" asp-action="AddUserToRole" asp-route-id="@item.UserId">
                                                <i class="fas fa-circle small-dot"></i>
                                                افزودن مقام
                                            </a>
                                            <a class="dropdown-item menu-text-hover" asp-controller="ManageUsers" asp-action="DeleteUserFromRole" asp-route-id="@item.UserId">
                                                <i class="fas fa-circle small-dot"></i>
                                                حذف مقام
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <img src="~/imgs/male-user-100.png" alt="@item.UserName" data-toggle="tooltip" data-placement="top"
                                         title="@item.UserName" class="tool-tip" />
                                </div>
                                <hr />
                                <p>
                                    <i class="far fa-user ml-2"></i>
                                    نام کاربری :
                                    @item.UserName
                                </p>
                                <p>
                                    <i class="far fa-envelope ml-2"></i>
                                    ایمیل :
                                    @item.UserEmail
                                </p>
                                <p>
                                    <i class="far fa-user ml-2"></i>
                                    نام و نام خانوادگی :
                                    @if(item.FirstName == null && item.LastName == null)
                                    {
                                        <span class="text-danger">اطلاعاتی وارد نشده است.</span>
                                    }
                                    else
                                    {
                                        <span>@item.FirstName @item.LastName</span>
                                    }
                                </p>
                                <p>
                                    <i class="fas fa-phone ml-2"></i>
                                    شماره تماس :
                                    @if (item.PhoneNumber == null)
                                    {
                                        <span class="text-danger">شماره تماس وارد نشده است</span>
                                    }
                                    else
                                    {
                                        @item.PhoneNumber
                                    }
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            }
        </div>
    }
}

@section Scripts{
    <script>
        $('.tool-tip').tooltip();
    </script>
}