@model IEnumerable<ProjectWeb.Domain.Models.Ticket>
@{
    ViewData["Title"] = "لیست تیکت ها";
    Layout = "_Layout_Admin";
}

@{
    if (!Model.Any())
    {
        <div class="custom-alert-danger">
            <i class='bx bx-message-square-error'></i>
            هیچ پیامی یافت نشد !
        </div>
    }
    else
    {
        @if (ViewBag.Message != null)
        {
            <div class="alert alert-info">
                @ViewBag.Message
            </div>
        }
        <div class="row">
            @foreach (var ticket in Model)
            {
                <div class="col-md-4 mb-3">
                    <div class="card custom-box-shadow small">
                        <div class="card-body">
                            <div class="text-left">
                                <div class="dropdown">
                                    <i class="fas fa-ellipsis-v dropdown-toggle" data-toggle="dropdown" style="cursor: pointer; font-size: 15px; padding:10px;"></i>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-no-m">
                                        @* <a class="dropdown-item menu-text-hover" asp-controller="Ticket" asp-action="TicketInfo" asp-route-id="@ticket.Id"> *@
                                        @*     <i class="fas fa-circle small-dot"></i> *@
                                        @*     مشاهده تیکت *@
                                        @* </a> *@
                                        <a class="dropdown-item menu-text-hover" asp-controller="Ticket" asp-action="DeleteTicket" asp-route-id="@ticket.Id">
                                            <i class="fas fa-circle small-dot"></i>
                                            حذف تیکت
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <p>
                                <i class="far fa-calendar-alt"></i>
                                <span class="font-weight-bold">تاریخ ارسال :</span>
                                @ticket.CreateDateTime
                            </p>
                            <p>
                                <i class="fas fa-file-signature"></i>
                                <span class="font-weight-bold">موضوع تیکت :</span>
                                @ticket.TicketSubject
                            </p>
                            @{
                                <p>
                                    <i class="far fa-user"></i>
                                    <span class="font-weight-bold">فرستنده :</span>
                                    نام یوزر اینجا قرار می گیرد.
                                </p>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    }
}

