@model ProjectWeb.Domain.ViewModels.Ticket.TicketInfoViewModel
@using Microsoft.AspNetCore.Identity
@using ProjectWeb.Domain.Models
@inject UserManager<UserApp> UserManager
@{
    ViewData["Title"] = "جزییات تیکت " + Model.TicketSubject;
    Layout = "_Layout_Admin";
}

<div class="ticket-info">
    @{
        var user = await UserManager.FindByIdAsync(Model.UserId);
        <p>
            <div class="dropdown" style="z-index: 0;">
                <i class="far fa-comment-alt" style="font-size: 30px;"></i>
                <span class="font-weight-bold dropdown-toggle text-hover" data-toggle="dropdown" style="cursor: pointer;">@user.UserName</span>
                <div class="dropdown-menu dropdown-menu-right dropdown-no-m">
                    <p class="dropdown-item menu-text-hover">
                        <i class="far fa-user"></i>
                        @user.FirstName @user.LastName
                    </p>
                    <p class="dropdown-item menu-text-hover">
                        <i class="far fa-envelope"></i>
                        @user.Email
                    </p>
                    <p class="dropdown-item menu-text-hover">
                        <i class="fas fa-phone-alt"></i>
                        @user.PhoneNumber
                    </p>
                </div>
            </div>
        </p>
        <p class="small mt-2">
            <i class="far fa-calendar-alt"></i>
            تاریخ ارسال :
            @Model.TicketDateTime
        </p>
        <hr />
        <div class="border p-3" style="border-radius: 10px;">
            <p>
                <i class="fas fa-file-signature"></i>
                <span class="font-weight-bold">عنوان تیکت :</span>
                @Model.TicketSubject
            </p>
            <p>
                <span class="font-weight-bold">متن تیکت : </span>
                @Html.Raw(Model.TicketText)
            </p>
            <hr />
            <div class="text-right">
                <a asp-controller="Ticket" asp-action="AllTickets" class="text-hover">
                    <i class="fas fa-chevron-circle-left"></i>
                </a>
            </div>
        </div>
    }
</div>

