@model List<MyOrdersViewModel>
@using ProjectWeb.Application.Interfaces
@inject IOrderDetailInterface _orderDetailInterface
@inject IWebProductInterface _webProductInterface
@{
    ViewData["Title"] = "MyOrders";
    Layout = "~/Views/Shared/_Layout_Profile.cshtml";
    int row = 1;
}
@if (!Model.Any())
{
    <div class="card custom-box-shadow">
        <div class="card-body">
            <div class="alert alert-danger">
                شما سفارشی ندارید
            </div>
        </div>
    </div>
}

@foreach (var item in Model)
{
    <div class="card custom-box-shadow mb-3">
        <div class="card-body text-muted">
            <div class="d-flex justify-content-between">
                <p>
                    <i class="far fa-check-circle"></i>
                    <span class="font-weight-bold">وضعیت پرداخت :</span>
                    @{
                        if (item.FinalyPay)
                        {
                            <span class="text-success">
                                پرداخت کامل
                            </span>
                        }
                        else
                        {
                            <span class="text-danger">
                                <a asp-controller="Order" asp-action="PaymentLeftSum" asp-route-orderId="@item.OrderId">
                                    پرداخت نشده @item.LeftSum تومان
                                </a>
                            </span>
                        }
                    }
                </p>
            </div>
            <span class="product-row custom-box-shadow">
                @row
            </span>
            @{
                var detail = _orderDetailInterface.GetOrderDetails(item.OrderId);
                <hr />
                <p>
                    <span class="font-weight-bold">تاریخ سفارش : </span>
                    @item.OrderDateTime
                </p>
                <div class="small d-flex justify-content-between">
                    <p>
                        <span class="font-weight-bold">مبلغ کل سفارش : </span>
                        @item.Sum
                    </p>
                    <p>
                        <span class="font-weight-bold">مبلغ پرداخت شده : </span>
                        @item.ShouldPaySum
                    </p>
                    <p class="text-danger">
                        <span class="font-weight-bold">مبلغ باقی مانده : </span>
                        @item.LeftSum
                    </p>
                </div>
                <hr />
                <p class="small">
                    جزییات سفارش
                </p>
                foreach (var items in detail)
                {
                    var product = _webProductInterface.FindById(items.WebProductId);
                    <div class="small">
                        <a asp-controller="WebProduct" asp-action="WebProductInfo" asp-route-id="@product.WebProductID" class="text-hover">
                            - <span class="font-weight-bold">@product.WebProductName</span> (@items.WebType) - @items.Description
                        </a>
                    </div>
                }
            }
        </div>
    </div>

    row++;
}