@model IEnumerable<ShowOrderDetailViewModel>
@{
    ViewData["Title"] = "سبد خرید";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int row = 1;
    int row2 = 1;
}


<section>
    <p class="small">
        <a asp-controller="Home" asp-action="Index" class="muted-color">خانه</a>
        <span class="muted-color">/</span>
        <a asp-controller="Order" asp-action="ShowOrder" class=" muted-color">
            سبد خرید
        </a>
    </p>
    <div class="row">
        <div class="col-lg-8">
            @{
                if (!Model.Any())
                {
                    <div class="text-center custom-box-shadow p-3">
                        <img src="~/imgs/shopping_basket_resize.png" alt="سبد خرید" />
                        <p class="text-muted font-weight-bold mt-4">
                            سبد خرید شما خالی است
                        </p>
                    </div>
                }
                else
                {
                    @foreach (var item in Model)
                    {
                        <div class="card custom-box-shadow position-relative mb-3">
                            <div class="card-body">
                                <span class="product-row custom-box-shadow">
                                    @row
                                </span>
                                <a asp-controller="WebProduct" asp-action="WebProductInfo" asp-route-id="@item.ProductId" class="basket-title">
                                    <h5 class="font-weight-bold">
                                        @item.Title
                                    </h5>
                                </a>
                                <p class="text-muted mt-4 small">
                                    <i class="fas fa-dollar-sign"></i>
                                    @item.Sum تومان
                                </p>
                                <p class="text-muted small">
                                    <span class="font-weight-bold">نوع سفارش :</span>
                                    @item.WebType
                                </p>
                                <p class="text-muted small">
                                    <span class="font-weight-bold">توضیحات :</span>
                                    @item.Description
                                </p>
                            </div>
                            <div>
                                <a title="حذف محصول" asp-controller="Order" asp-action="RemoveOrder" asp-route-id="@item.OrderDetailId" class="remove-icon custom-box-shadow">
                                    <i class="fas fa-times"></i>
                                </a>
                            </div>
                        </div>

                        row++;
                    }
                }
            }
        </div>
        <div class="col-lg-4">
            <div class="card custom-box-shadow text-muted" style="font-size: 15px;">
                <div class="card-body">
                    <p>ریز فاکتور : </p>
                    @foreach (var item in Model)
                    {
                        <a asp-controller="WebProduct" asp-action="WebProductInfo" asp-route-id="@item.ProductId" class="basket-title">
                            <p>
                                @row2 -
                                @item.Title
                            </p>
                        </a>
                        <p class="small">
                            @item.Price تومان
                        </p>

                        row2++;
                    }
                    <hr />
                    <div class="">
                        @{
                            var fullSum = Model.Sum(s => s.Sum);
                            var paySum = Model.Sum(s => s.Sum / 2);
                            var leftSum = fullSum - paySum;
                            <div class="d-flex justify-content-between">
                                <p class="font-weight-bold">مبلغ کل :</p>
                                <p>
                                    @fullSum تومان
                                </p>
                            </div>
                            <div class="d-flex justify-content-between">
                                <p class="font-weight-bold">مبلغ قابل پرداخت :</p>
                                <p>
                                    @paySum تومان
                                </p>
                            </div>
                            <div class="d-flex justify-content-between">
                                <p class="font-weight-bold">مبلغ باقی مانده :</p>
                                <p>
                                    @leftSum تومان
                                </p>
                            </div>
                        }
                    </div>
                    <a asp-controller="Order" asp-action="Payment" class="btn btn-buy">
                        ثبت و پرداخت
                    </a>
                    <p class="text-danger mt-3 small">
                        <i class="far fa-check-circle"></i>
                        در هنگام پرداخت شما 50% مبلغ را واریز میکنید. باقی مبلغ بعد از اتمام پروژه دریافت میشود.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>