<!DOCTYPE html>
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@using ProjectWeb.Domain.Models
@inject SignInManager<UserApp> _signInManager
@inject UserManager<UserApp> _userManager

<html lang="fa" dir="rtl">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.rtl.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/animate.css/animate.min.css" />
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="~/css/admin.css" />
    <link rel="stylesheet" href="~/css/responsive-admin.css" />
</head>
<body>
    <header>
        <nav class="custom-nav mb-3">
            <div class="container">
                <div id="hamburger-icon">
                    <i class="fas fa-bars" id="ham-icon" onclick="ShowNav()"></i>
                </div>
                <ul>
                    <li>
                        @{
                            var user = await _userManager.FindByIdAsync(User.FindFirstValue(ClaimTypes.NameIdentifier));
                            <div class="dropdown">
                                <a class="dropdown text-hover" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fas fa-caret-down"></i>
                                    @user.UserName
                                    <img src="~/imgs/icons8-administrator-male-30.png" alt="admin-Icon" class="mr-1" />
                                </a>

                                <div class="dropdown-menu">
                                    <a asp-controller="Home" asp-action="Index" class="dropdown-item menu-text-hover">
                                        <i class="fas fa-circle small-dot"></i>
                                        صفحه خانه سایت
                                    </a>
                                    <a asp-controller="WebProduct" asp-action="Index" class="dropdown-item menu-text-hover">
                                        <i class="fas fa-circle small-dot"></i>
                                        محصولات وب
                                    </a>
                                    <a asp-controller="ManageUsers" asp-action="Index" class="dropdown-item menu-text-hover">
                                        <i class="fas fa-circle small-dot"></i>
                                        مدیریت کابران
                                    </a>
                                    <a asp-controller="ManageRoles" asp-action="Index" class="dropdown-item menu-text-hover">
                                        <i class="fas fa-circle small-dot"></i>
                                        مدیریت مقام ها
                                    </a>
                                    <a asp-controller="Account" asp-action="ShowProfile" asp-route-id="@user.Id" class="dropdown-item menu-text-hover">
                                        <i class="fas fa-circle small-dot"></i>
                                        مشاهده حساب کاربری
                                    </a>
                                    <a asp-controller="Account" asp-action="EditAccount" asp-route-id="@user.Id" class="dropdown-item menu-text-hover">
                                        <i class="fas fa-circle small-dot"></i>
                                        ویرایش حساب کاربری
                                    </a>
                                    <a class="dropdown-item menu-text-hover">
                                        <i class="fas fa-circle small-dot"></i>
                                        سفارشات
                                    </a>
                                    <a asp-controller="Ticket" asp-action="AllTickets" class="dropdown-item menu-text-hover">
                                        <i class="fas fa-circle small-dot"></i>
                                        پیام ها
                                    </a>
                                    <a asp-controller="Account" asp-action="LogOut" class="dropdown-item menu-text-hover">
                                        <i class="fas fa-circle small-dot"></i>
                                        خروج از حساب کاربری
                                    </a>
                                </div>
                            </div>
                        }
                    </li>
                </ul>

                <div class="logo">
                    <a asp-controller="Admin" asp-action="Index">
                        <img src="~/imgs/admin.png" />
                    </a>
                </div>
            </div>
        </nav>
        <nav id="responsive-menu">
            <ul style="list-style: none;">
                <li>
                    <a asp-controller="Home" asp-action="Index">صفحه خانه سایت</a>
                </li>
                <li>
                    <a asp-controller="WebProduct" asp-action="Index">محصولات وب</a>
                </li>
                <li>
                    <a asp-controller="ManageUsers" asp-action="Index">مدیریت کاربران</a>
                </li>
                <li>
                    <a asp-controller="ManageRoles" asp-action="Index">مدیریت مقام ها</a>
                </li>
                <li>
                    <a asp-controller="Account" asp-action="ShowProfile" asp-route-id="@user.Id">مشاهده حساب کاربری</a>
                </li>
                <li>
                    <a asp-controller="Account" asp-action="EditAccount" asp-route-id="@user.Id">
                        ویرایش حساب کاربری
                    </a>
                </li>
                <li>
                    <a asp-controller="" asp-action="">سفارشات</a>
                </li>
                <li>
                    <a asp-controller="Ticket" asp-action="AllTickets">پیام ها</a>
                </li>
                <li>
                    <a asp-controller="Account" asp-action="LogOut">خروج از حساب کاربری</a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - ProjectWeb.Mvc - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/font-awesome/js/all.min.js"></script>
    <script type="text/javascript" src="~/js/admin.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
