@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@using ProjectWeb.Domain.Models
@inject SignInManager<UserApp> _signInManager
@inject UserManager<UserApp> _userManager
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.rtl.css" />
    <link rel="stylesheet" href="~/lib/aos/aos.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link href="~/lib/animate.css/animate.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/Responsive.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="custom-nav mb-3">
            <div class="container">
                <div id="hamburger-icon">
                    <i class="fas fa-bars" id="ham-icon" onclick="ShowNav()"></i>
                </div>
                <ul>
                    @{
                        var user = await _userManager.FindByIdAsync(User.FindFirstValue(ClaimTypes.NameIdentifier));
                        if (_signInManager.IsSignedIn(User))
                        {
                            <li>
                                <div class="dropdown">
                                    <a class="dropdown navbar-hover-text" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fas fa-caret-down"></i>
                                        <span>@user.UserName</span>
                                        <img src="~/imgs/icons8-user-30.png" alt="User-Icon" class="mr-1" />
                                    </a>

                                    <div class="dropdown-menu">
                                        @if (User.IsInRole("ادمین"))
                                        {
                                            <a asp-controller="Admin" asp-action="Index" class="dropdown-item menu-text-hover">
                                                <i class="fas fa-circle small-dot"></i>
                                                صفحه مدیریت سایت
                                            </a>
                                        }
                                        <a asp-controller="Account" asp-action="ShowProfile" asp-route-id="@user.Id" class="dropdown-item menu-text-hover">
                                            <i class="fas fa-circle small-dot"></i>
                                            مشاهده حساب کاربری
                                        </a>
                                        <a asp-controller="Account" asp-action="EditAccount" asp-route-id="@user.Id" class="dropdown-item menu-text-hover">
                                            <i class="fas fa-circle small-dot"></i>
                                            ویرایش حساب کاربری
                                        </a>
                                        <a asp-controller="" asp-action="" class="dropdown-item menu-text-hover">
                                            <i class="fas fa-circle small-dot"></i>
                                            سبد خرید
                                        </a>
                                        <a class="dropdown-item menu-text-hover">
                                            <i class="fas fa-circle small-dot"></i>
                                            سفارشات من
                                        </a>
                                        <a asp-controller="Account" asp-action="LogOut" class="dropdown-item menu-text-hover">
                                            <i class="fas fa-circle small-dot"></i>
                                            خروج از حساب کاربری
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li class="ul-nav-item navbar-hover-text">
                                <a>
                                    قوانین و مقررات
                                </a>
                            </li>
                            <li class="ul-nav-item navbar-hover-text">
                                <a>
                                    ارتباط با ما
                                </a>
                            </li>
                            <li class="ul-nav-item navbar-hover-text">
                                <a>
                                    درباره ما
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="ul-nav-item">
                                <i class="far fa-user ml-1 navbar-hover-text"></i>
                                <a asp-controller="Account" asp-action="Login" class="navbar-hover-text">ورود</a>
                                <span style="color: white;">/</span>
                                <a asp-controller="Account" asp-action="Register" class="navbar-hover-text">عضویت</a>
                            </li>
                            <li class="ul-nav-item navbar-hover-text">
                                <a>
                                    قوانین و مقررات
                                </a>
                            </li>
                            <li class="ul-nav-item navbar-hover-text">
                                <a>
                                    ارتباط با ما
                                </a>
                            </li>
                            <li class="ul-nav-item navbar-hover-text">
                                <a>
                                    درباره ما
                                </a>
                            </li>
                        }
                    }
                </ul>

                <div class="logo">
                    <a asp-controller="Home" asp-action="Index" title="صفحه خانه">
                        <img src="~/imgs/logo-websites-31325.png" alt="Logo" />
                    </a>
                </div>
            </div>
        </nav>
        <nav id="responsive-nav">
            <ul>
                <li class="p-3">
                    <img src="~/imgs/logo-web.png" alt="Logo" height="80" />
                </li>
                @{
                    if (_signInManager.IsSignedIn(User))
                    {
                        <li class="user-nav-item">
                            <i class="far fa-user ml-1 text-white"></i>
                            <span>@user.UserName</span>
                        </li>
                        @if (User.IsInRole("ادمین"))
                        {
                            <li>
                                <a asp-controller="Admin" asp-action="Index">
                                    صفحه مدیریت سایت
                                </a>
                            </li>
                        }
                        <li>
                            <a asp-controller="Account" asp-action="ShowProfile" asp-route-id="@user.Id">
                                مشاهده حساب کاربری
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Account" asp-action="EditAccount" asp-route-id="@user.Id">
                                ویرایش حساب کاربری
                            </a>
                        </li>
                        <li>
                            <a asp-controller="" asp-action="" asp-route-id="">
                                سبد خرید
                            </a>
                        </li>
                        <li>
                            <a>
                                سفارشات من
                            </a>
                        </li>
                        <li>
                            <a>
                                قوانین و مقررات
                            </a>
                        </li>
                        <li>
                            <a>
                                ارتباط با ما
                            </a>
                        </li>
                        <li>
                            <a>
                                درباره ما
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Account" asp-action="LogOut">
                                خروج از حساب کاربری
                            </a>
                        </li>

                    }
                    else
                    {
                        <li class="text-white">
                            <i class="far fa-user ml-1"></i>
                            <a asp-controller="Account" asp-action="Login" class="nav-text">ورود</a> /
                            <a asp-controller="Account" asp-action="Register" class="nav-text">عضویت</a>
                        </li>
                        <li class="text-white">
                            <a class="nav-text">
                                قوانین و مقررات
                            </a>
                        </li>
                        <li class="text-white">
                            <a class="nav-text">
                                ارتباط با ما
                            </a>
                        </li>
                        <li class="text-white">
                            <a class="nav-text">
                                درباره ما
                            </a>
                        </li>
                    }
                }
            </ul>
        </nav>
    </header>
    <section>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </section>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - ProjectWeb.Mvc - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/aos/aos.js"></script>
    <script src="~/lib/font-awesome/js/all.min.js"></script>
    <script type="text/javascript" src="~/js/site.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
